.zann-edge--off {
  & {
    animation-name: ZANNEdgeOff;
  }
  &>:not(.zann) {
    animation-name: ZANNEdgeChildOff;
  }
  /** prior */
  &::after {
    animation-name: ZANNEdgeRightOff;
  }
  &::before {
    animation-name: ZANNEdgeLeftOff;
  }
}

@keyframes ZANNEdgeOff {
  100% {
    @apply --theme-skeleton;
  }
}

@keyframes ZANNEdgeChildOff {
  100% {
    opacity: 0;
  }
}

@keyframes ZANNEdgeLeftOff {
  0%, 66% {
    bottom: 0;
    left: 0;
  }
  /**/
  0% {
    right: 0;
    top: 0;
  }
  66% {
    right: 100%;
    top: 100%;
  }
  /**/
  33%, 66% {
    border-bottom: .055em solid var(--light);
    border-left: .055em solid var(--light);
  }
}

@keyframes ZANNEdgeRightOff {
  0%, 66% {
    right: 0;
    top: 0;
  }
  /**/
  0% {
    bottom: 0;
    left: 0;
  }
  66% {
    bottom: 100%;
    left: 100%;
  }
  /**/
  33%, 66% {
    border-right: .055em solid var(--light);
    border-top: .055em solid var(--light);
  }
}
