.zann-edge--on {
  & {
    animation-name: ZANNEdgeOn;
  }
  &>:not(.zann) {
    animation-name: ZANNEdgeChildOn;
  }
  /** prior */
  &::after {
    animation-name: ZANNEdgeRightOn;
  }
  &::before {
    animation-name: ZANNEdgeLeftOn;
  }
}

@keyframes ZANNEdgeOn {
  0%, 66% {
    @apply --theme-skeleton;
  }
}

@keyframes ZANNEdgeChildOn {
  0%, 66% {
    opacity: 0;
  }
}

@keyframes ZANNEdgeLeftOn {
  0%, 66% {
    bottom: 0;
    right: 0;
  }
  /**/
  0% {
    left: 100%;
    top: 100%;
  }
  66% {
    left: 0;
    top: 0;
  }
  /**/
  33%, 66% {
    border-bottom: .055em solid var(--light);
    border-right: .055em solid var(--light);
  }
}

@keyframes ZANNEdgeRightOn {
  0% {
    bottom: 100%;
    right: 100%;
  }
  66% {
    bottom: 0;
    right: 0;
  }
  /**/
  0%, 66% {
    left: 0;
    top: 0;
  }
  /**/
  33%, 66% {
    border-left: .055em solid var(--light);
    border-top: .055em solid var(--light);
  }
}
